{{> navegacion}}
<div class="container body">
    <div class="row m-3">
        <div class="d-grid d-md-flex justify-content-md-end">
            <a href="/areas/addArea" class="btn btn-primary" type="button">NUEVA AREA</a>
        </div>
    </div>
    <div class="row">
        <h1 class="mx-auto text-center">HOLA MUNDO</h1>
        {{#final }}
                {{!-- {{id}} {{area}} <br>
                {{#usuarios}}
                    {{fullname}} <br>
                {{/usuarios}} --}}
            <div class="col-md-4 mt-3">
                <div class="card text-center">
                    <div class="card-body">
                        
                        <img class="imagen" src="img/logo_{{area}}.png" alt="">
                        <div class="card-title text-uppercase">
                            {{area}}
                        </div>
                        <a type="button" class="btn btn-outline-primary btn-block m-2"  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{@index}}">ver listado </a>
                        
                        <!-- href="/areas/list_user/{{id}}"
                            <a href="/areas/delete/{{id}}" class="btn btn-outline-danger btn-block m-2">eliminar</a>-->
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{@index}}" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal {{area}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1>Personal</h1>
                            {{#usuarios}}
                                {{id}} -- {{fullname}} <br>
                            {{/usuarios}}
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/final }}
    </div>
    {{> footer}}
</div>
